.speech{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
}
.name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 16px;
    color: black;
    background-color: plum;
}
.direction:hover{
    background-color: blueviolet;
    color: burlywood;
}
.MUSIC-MASTER{
    color: indianred;
}
.MONSIEUR-JOURDAIN{
    color: cornflowerblue;
}
table,td,tr{
    border: 2px solid black;
    color: black;
    padding: 2mm;
    margin: 1px;
  }
  th{
    border: 2px solid crimson;
    color: blue;
  }
  td{
    text-align: left;
  }
  tr:nth-child(even){
    background-color: aquamarine;
  }

  span h6:hover{
    text-shadow: 0 0 2px black;
    color: transparent;
    font-size: 20px;
    border: dotted;
  }
  .name:hover{
    text-shadow:2px 4px 3px rgb(rgb(29, 116, 122));
    color: brown;
    filter: green(5px);
    border: double 2px black;
  }
  .navigation {
    width: 100%;
    overflow: auto;
  }
  
  .navigation a {
    float: left;
    padding: 15px;
    color:black;
    background-color: peachpuff;
    align-content: center;
    left: 50%;
    position: relative;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navigation a:hover {
    background-color: slategray;
  }
  
  .item {
      color: white;
    background-color:black;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .icon{
      float:right;
  }
  
  
